<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Templos.My.MySettings.BaseSGTConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Methodus\Templos\Dados\BaseSGT.accdb" providerName="System.Data.OleDb"/>
    </connectionStrings>
    <startup>
        
    <supportedRuntime version="v2.0.50727"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
